body {
	background-color: #333;
	color: #FFF;
}

code {
	background-color: #000;
	border: 1px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	padding: 3pt;
	margin: 5px;
}

canvas {
	border: 1px solid white;
	background-image: url("transparentBackground.png");
}